/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* typography */

html{
    font-size: 16px;
}

body{
    line-height: normal;
    color: black;
}

h1{
    font-size: 70px;
    line-height:1.2;
    color: rgb(35, 35, 35);
    text-align: center;
    margin: auto;
    max-width: 60%;
    margin-bottom: 3rem; 
    margin-top: 7rem;   
}

.head{
    font-size: 1.5rem;
    margin-bottom:7rem;
    text-align: center;
    font-weight: lighter;
}

h2{
    color: rgb(0, 0, 8);
    font-family: roboto, sans-serif;
    margin-bottom: 1rem;
    font-size: x-large;
}

h3{
    font-size: 32px;
    color: rgb(35, 35, 35);
    font-weight: 700;
}

h4{
    color: rgb(35, 35, 35);
    font-size: 20px;
    font-weight: 200;
}

header p{
    font-size: 30px;
    font-weight: 900;
    margin-left: 2rem;
}

section p{
    font-weight: 400;
    font-size: 16px;
}

.gallery p{
    font-size: large;
}

.shop p{
    width: 30%;
    margin-left: 2rem;
    margin-bottom: 4rem;
}

.shop h3{
    padding-top: 10rem;
    font-size: 3rem;
    width: 30%;
    margin-left: 2rem;
    margin-bottom: 2rem;
}

/* layout */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
    padding-top: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: white;
}


nav ul li{
    list-style-type: none;
    display:inline-block;
  margin-right: 2rem;  
}

nav ul a{
    color: black;
    text-decoration: none;
}

nav ul a:active{
    text-decoration: underline;
}

nav ul a:hover{
    text-decoration: underline;
}

header p a{
    text-decoration: none;
    color: black;
}


.toggle{
    position: absolute;
    right: 2rem;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    display: none;
}

.bar{
    background-color: black;
    border-radius: 10px;
    width: 100%;
    height: 3px;
}
.gallery{
    width: 90%;
    margin: auto;
    display: grid;
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
}

.gallery img{
    width: 100%;
    margin-bottom: 1rem;
}

.shop{
    background-color: rgb(248, 238, 225);
    display: flow-root;
}

.shop img{
    float: right;
    margin-right: 6rem;
    margin-top: 7rem;
    margin-bottom: 5rem;
}


   
.more{
text-align: center;
margin-top: 4rem;
margin-bottom: 10rem;
}

.more a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1rem 2rem;

}

.shop a{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}

.instagram{
   display: grid;
   width: 90%;
   margin: auto;
   gap: 1rem;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.instagram img{
    width: 100%;
}

.instagram-header{
    text-align: center;
    margin: 6rem auto;
    font-size: 4rem;
}

footer{
    background-color: rgb(241, 236, 229);
    margin-top: 5rem;
    text-align: center;
}

.media{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 6rem;
    
}

.media img{
    width: 100%;
}

.media li{
list-style-type: none;
}

footer h4{
    padding-top: 3rem;
    font-size: 2rem;
}

.subscription{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
label{
    display: block;
    font-size: 1.5rem;
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
    margin-bottom: .3rem;
    font-weight: 100;
}

input{
    width: 100%;
    border: none;
    padding: 1rem;
}

form{
    margin-top: 3rem;
}

button{
    margin-top: 2rem;
    background-color: black;
    color: white;
    padding: 1rem 2rem;
}

button:hover{
    background-color: aliceblue;
    color: black;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size: medium;
    }
    .gallery{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem
        ;
    }
    .gallery p{
        font-size: small;
    }
    .instagram-header{
        font-size: xx-large;
        margin: 2rem 0;
    }
    h4{
        font-size: 1rem;
    }
    .more{
        margin-bottom: 4rem;
    }
    .toggle{
        display: flex;
    }
    .toggle:hover{
        cursor: pointer;
    }
    nav{
        display: none;
    }
}